<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.js"></script>
  <script src="script.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="LoginController">
  <form ng-hide="visible1" ng-submit="login()">
    <label for="username">Username:</label>
    <input type="text" required ng-model="account">
    <label for="password">Password:</label>
    <input type="password" required ng-model="password">

    <button type="submit">Login</button>
  </form>
  <button ng-click="showRegister()" ng-hide="visible1">Register</button>
  <form ng-show="visible2" ng-submit="register()">
    <label for="username">Username:</label>
    <input type="text" required ng-model="account.name">
    <label for="password">Password:</label>
    <input type="password" required ng-model="account.pwd">
    <button type="submit">Register</button>
  </form>
  <button ng-click="logout()" ng-show="visible">Logout</button>
    <button ng-click="getAllData()">Get All Data</button>
    <table>
      <tr ng-show="getData">
        <th>Destination</th>
        <th>Origin</th>
        <th>Mode</th>
        <th>Distance</th>
        <th>Duration</th>
      </tr>
      <tr  ng-repeat="person in people">
        <td>{{key}}</td>
        <td>{{person.data.destination}}</td>
        <td>{{person.data.origin}}</td>
        <td>{{person.data.mode}}</td>
        <td>{{person.data.distance}}</td>
        <td>{{person.data.duration}}</td>
        <td><button ng-show="visible" ng-click="delete(people,$index)">Delete</button></td>
      </tr>
    </table>
    <form ng-show="visible" ng-submit="addData()">
        <p>Destination: <input required ng-model="person.destination"></p>
        <p>Origin: <input required ng-model="person.origin"></p>
        <p>Mode: <input required ng-model="person.mode"></p>
        <p><button type="submit">Add</button></p>
    </form>
</div>

</body>
</html>
